# set the udev rule , make the device_port be fixed by rplidar
#
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="6e581774e7e5ed1185b8d3a80b2af5ab", MODE:="0777", SYMLINK+="rplidar"

